.cardWrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.cardImageWrapper{
width: 100%;
height: 245px;
 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
 
 }
}
.cardInfoWrapper{
  z-index: 10;
  background-color: #fff;
  position: absolute;
  top: 150px;
  left: 75px;
  right: 75px;
  bottom: 104px;
  padding: 50px 75px;
  border: 1px solid #EAEAEA;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: calc(100vh - 254px);

 
}
.cardTitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center; 
  color: #363636;
 
}
 
.cardAbout{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #363636;
  overflow-y:hidden;

  
}
.backToHomeBtn{
  position: absolute;
  left: 150px;
  bottom: 45px;
}